# Compiled binaries
war_game
*.o
*.out

# Output files

# Python
__pycache__/
*.pyc
.pytest_cache/

# Editor files
.vscode/
.idea/
*.swp
*~

# Other
pr_pal/
generate_solution.py
many/

environments/
build/

*.pdf
